<a href="https://colab.research.google.com/github/RovicCallorina/OOP-58001/blob/main/Fundamentals_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Indentation

In [ ]:
if 5 > 2:
  print("Five is greater than two")

Five is greater than two

Python Comment

In [ ]:
#this is a comment
print("Hello world!")

Hello world!

Python Variable

In [ ]:
#single value with single variable
x = 1 
#single variable with multiple values
array = 1, 2, 3
print ( array )

#multiple variables with single value
a = b = c ="Vic"
print (a)
print (b)
print (c)

(1, 2, 3)
Vic
Vic
Vic

Casting

In [ ]:
n = int(4)
print(n)

4

Type Function

In [ ]:
c = "sally"
d = 5.6

print(type(c))
print(type(d))

<class 'str'>
<class 'float'>

Double qoutes or Single Qoutes

In [43]:
y = "john"
y = 'john'

Case sensitive

In [45]:
a = 4
A = "Vic"

#A will not overwrite a

Multiple Variables

In [5]:
x,y,z = "one","two","three"

print(x)
print(y)
print(z)

one
two
three

One Value to Multiple variables

In [6]:
x = y = z ="Four"
print(x)
print(y)
print(z)

Four
Four
Four

Output Variables

In [9]:
x = "interesting"
print("Python programming is " + x)

Python programming is interesting

Other way

In [12]:
a = "interesting"
b = "Programming is "
c = b + a

print(c)

Programming is interesting

Arithmetic operations

In [15]:
q = 3
w = 4
print(q + w)

7

In [38]:
v = 10
i = 2

sum = v + i
sum

12

Assignment operators

In [39]:
a,b,c = 0, -1, 6
c%=3
c

0

Comparison and Logical Operators

In [37]:
a, b, c = 0, -1, 6
a>b and c<b
True

True

Identity Operators

In [40]:
a,b,c = 0,-1,5
a is c
False

False