<a href="https://colab.research.google.com/github/RovicCallorina/OOP-58001/blob/main/Lists%2C_Tuples%2C_and_Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Functions

In [22]:
class Shapes:
  def __init__(self, length, width):
    self.length = length
    self.width = width
  def area(self):
    return self.length * self.width

rectangle = Shapes (10,5)
rectangle.area()

50

In [28]:
class Shapes:
  def __init__(self, side):
    self.side = side
  def areasqr(self):
    return self.side**2
  
square = Shapes(5)
square.areasqr()

25

In [19]:
pow(10,2)
array = ["apple", "banana", "orange"]
array.insert(0, "cherry")
print (array)

['cherry', 'apple', 'banana', 'orange']

In [41]:
#create a function that will show your full name.

class Person:
  def __init__(self, fname, mname, lname, age):
    self.fname = fname
    self.mname = mname
    self.lname = lname
    self.age = age

  def fname1(self):
    return self.lname + self.fname + self.mname + self.age

info = Person(" Robert Victor ", "A. ", " Callorina","18 Years Old")
info.fname1()

' Callorina Robert Victor A. 18 Years Old'

List

In [52]:
pi = 3.14159
varlist = ['abc',1 ,'def', 2] 
print(varlist[0])

varlist.append('ghi')
print(varlist)
varlist.remove(2)
print(varlist)
              #index
varlist.insert(3,5)
print(varlist)

abc
['abc', 1, 'def', 2, 'ghi']
['abc', 1, 'def', 'ghi']
['abc', 1, 'def', 5, 'ghi']

Dictionaries

In [53]:
students = {
           1:"emin",
           2:"jim",
           3:"rovic",
           4:"kit",
           5:"Jcruz"
}
print(students)

{1: 'emin', 2: 'jim', 3: 'rovic', 4: 'kit', 5: 'Jcruz'}