<a href="https://colab.research.google.com/github/RovicCallorina/OOP-58001/blob/main/LOOP_Statement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For loop

In [7]:
week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

Break Statement

In [16]:
#Break statement
week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  print(x)
  if x == "Thursday":
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

In [27]:
#Break statement
week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    break                                           
  print(x)                   #displays Sunday to Wednesday

Sunday
Monday
Tuesday
Wednesday

In [29]:
#Tuesday and wednesday using break statement
week = ["Sunday", "Monday", "Tuesday","Wednesday","Thursday","Friday","Saturday"]

for x in week:
  if x == "Thursday":
    break                                           
  print(x)

Sunday
Monday
Tuesday
Wednesday

Looping through a string

In [33]:
for x in "Vivviccc ":
  print(x)

V
i
v
v
i
c
c
c

Nested loops

In [37]:
adjective = ["Red","Big", "Tasty"]
fruits = ["Apple", "Banana","Cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

While loop

In [54]:
i = 1
while i < 6:
  print(i)
  i += 1 #i =  i+1 assignment Operators

1
2
3
4
5

Break statement in while loop

In [56]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += i

1
2
4

In [80]:
i = 1
while i < 6:
  if i == 3:
    print(i)           #print only 3
    break
  i+=i

In [79]:
i = 1
while i<6:
    print(i)
    i += 1
else:
    print ("I is no longer less than 6")

1
2
3
4
5
 I is no longer less than 6

Let's try

In [99]:
#application 1
i = 1
while i <= 10:
  print("Hello "+ str(i))
  i += 1

Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

In [96]:
#Application 2
i = 3
while i<10:
    print(i)
    i += 1

3
4
5
6
7
8
9